Source: ros-melodic-camera-info-manager-py
Section: misc
Priority: optional
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-rospy, ros-melodic-rostest, ros-melodic-rosunit, ros-melodic-sensor-msgs
Homepage: http://ros.org/wiki/camera_info_manager_py
Standards-Version: 3.9.2

Package: ros-melodic-camera-info-manager-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, python-yaml, ros-melodic-rospy, ros-melodic-sensor-msgs
Description: Python interface for camera calibration information.
 This ROS package provides a CameraInfo interface for Python camera drivers similar to the C++ camera_info_manager package.
